.card_container {
  display: grid;
  grid: 1fr, 1fr, 1fr, 1fr;

}

.card {
  display: flex;
  background-image: asset-url("card_background.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
  align-items: center;

  h5 {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
  }

}
